<h1>Appointments</h1>
<% @appointments.each do |app| %>
  <p>
    Doctor: <%= app.doctor.username %><br/>
    Patient: <%= app.patient.username %><br/>
    Recomendation: <%= app.recommendation %><br/>
    <% if current_user.doctor_role? %>
      <%= link_to 'Edit', edit_doctor_appointment_path(@doctor, app) %>
      <%= link_to 'X', doctor_appointment_path(@doctor, app), method: :delete %>
    <% end %>
  </p> 
<% end %>
