<h1>Сategories of doctors</h1>
<% if can? :new, Category %> 
	<%= render 'form', category: @category %>
<% end %>
<% @categories.each do |cat| %>
	<p>
		<%= cat.name %>
		<% if can? :destroy, cat %> 
			<%= link_to "X", cat, method: :delete %>
		<% end %>
	</p>
	<% cat.doctors.order(:username).each do |doctor| %>
		<%= "---> #{doctor.username}" %>
		<% if can? :new, Appointment %>
			<%= link_to '+', new_doctor_appointment_path(doctor) %>
		<% end %>
		<br/>
	<% end %>
<% end %>