<!DOCTYPE html>
<html>
  <head>
    <title>Clinic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p align='right'>User: <%= current_user.username %> | <%= link_to "exit", destroy_user_session_path, method: :delete %>
    <% end %>
    <p>
      <%= link_to "Categories", categories_path %> 
      <%= link_to "Users", users_path %>
      <% if user_signed_in? %>
        <% if current_user.user_role? %>
          <%= link_to "Appointments", user_appointments_path(current_user) %>
        <% elsif current_user.doctor_role? %>
          <%= link_to "Appointments", doctor_appointments_path(current_user) %>
        <% end %>
      <% end %>
    </p>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 
    <%= yield %>
  </body>
</html>
